<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>This page belong to the @ <%=username%>
    </h3>
        <% if(username == "waseem") {%>
        <h4> your are the owner of this page </h4>
        <% } %>
    <button>follow</button>
    <button>Message</button>
    <h3>the follower of this accounts is </h3>
    <h4>the username will be : <h2> <%= username%> </h2></h4>
     <h1>List of followers</h1>
     <% if (username == "wasim") {%>
         <% for(let name of follower){%>
        <p>The name of follower is : <%= name%></p>
            <% } %>
    <% } %>
   
    <h3>Hello its me EJS</h3>
    
     <ul>
     <% for(let name of follower) { %>
        <li><%= name%></li>
            <% }%>
    </ul>
    </body>
</html>